*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}
/* header logo */
header {display: flex;
    justify-content: center;
    
}
header img{
    margin-top: 20px;
    width: 350px;
}
/* navbar */
nav{
    background-color:white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.navbar ul{
    display: flex;
    
}
.navbar ul li a{
    text-decoration: none;
    margin: 28px;
    color: rgb(4, 130, 208);
}
.navbar ul li a:hover{
    color: darkblue;
}
/* banner */
#banner{
    
    height:850px;
    display: flex;
    justify-content: center;
}
.image img{
    height: 720px;
    width: 1200px;
    

}
.image-text{
    position: absolute; 
    border: 2px solid black;
    margin-right: 900px;
    margin-left: 200px;
    background-color: white;
    opacity: 0.8; 
    /* opacity is used to make transparent background */
    margin-top: 25px;
    border-radius: 10px;
}
.image-text h1{
    padding: 30px;
    margin-top: 30px;
}
.image-text p{
    color: black;
    font-weight: 500;
    padding: 30px;
}
.pink-button{
    padding-left: 30px;
}
.pink-button button{
    margin-bottom: 60px;
    height: 70px;
    width: 220px;
    padding: 7px;
    background-color: rgb(237, 3, 81);
    color: white;
    border-radius: 5px;
    border: transparent;
    font-size: 18px;
    
}
/* two cards - Australia and US*/
#two-cards{
    
    height: 400px;
}
.main{
    display: flex;
    justify-content: center;
    
}
.sub{
    height: 270px;
    width: 500px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    border:0.5px solid rgba(0, 0, 0, 0.122) ;
    filter: drop-shadow(3px 3px 3px  grey)
}
.sub p{
    
    padding-left: 20px;
    padding-right: 20px;
}
.sub1{
    margin-right: 20px;
}   
/* single card-solo female */
#single-card{
    background-color: white;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.solo{
    position: relative;
    width: 900px;
    height: 400px;
    
    background-color: white;
    display: flex;
    justify-content: center;
    
}
.solo-image{
    width: 100%;
    height: 100%;
    
    position: relative;
    border-radius: 10px;
}
.solo:hover{
    scale: 1.03;
}
.solo-title {
    position: absolute;
    margin-top: 150px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
}

.image-overlay:hover{
    opacity: 1;
    cursor: pointer;
}
/* .image-title{
    font-weight: bold;
    font-size: 30px;
    color: white;
    
    
} */
.image-overlay p{
    margin-top: 100px;
    font-size: 20px;
    
}
/* blog post */
#blog-post{
    background-color: white;
    height: 700px;
    margin-top: 40px;
}
#blog-post h1{
    text-decoration: none;
    padding: 20px;
    text-align: center;
}
.blog-row{
    margin-top: 60px;
    display: flex;
    justify-content: center;

}
.blog-col{
    margin: 10px;
}
.blog-col a{
    text-decoration: none;
    
}
.blog-col p{
    color: black;
    font-size: 30px;
}
.more-button{
    height: 50px;
    width: 250px;
    padding: 10px;
    border-radius: 40px;
    background-color: rgb(235, 14, 88);
    color: white;
    border: transparent;
    margin-left: 600px;
    margin-top: 20px;
}
/* top destinations */
#top-dest{
    height: 1000px;
    background-color: white;
}
#top-dest h1{
    padding: 20px;
    text-align: center;
}
.top-row{
    display: flex;
    justify-content: center;
    background-color:white;
}
.top-col{
    margin: 10px;
    

}
 .picture img{position: relative;

} 
.country{
    position: relative;
}
.para p{
    position: absolute;
    top: 0;
    
    margin-left: 160px;
    padding-top: 150px;
    color: white;
    font-size: 40px;
    
}
.over{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,0.6);
    opacity: 0;
}
.over:hover{
    opacity: 1;
}
.top-col:hover{
    scale: 1.05;
}
/* brands */
#brands{
    display: flex;
    justify-content: center;
}
#brands img{
    width: 150px;
    padding: 10px;
}
